[submodule "lib/tensorflow"]
	path = lib/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "lib/sort"]
	path = lib/sort
	url = https://github.com/boostorg/sort
[submodule "lib/burr-vl"]
	path = lib/burr-vl
	url = https://github.com/stefanfred/BuRR.git
	branch = falsepositiveVLR
[submodule "lib/tlx"]
	path = lib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "lib/psimd"]
	path = lib/psimd
	url = https://github.com/Maratyszcza/psimd.git
[submodule "paper/sqlplot-tools"]
	path = paper/sqlplot-tools
	url = https://github.com/bingmann/sqlplot-tools.git
